/*preloader*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(0, 0, 0,0.3);*/
    background-color: #FFFFFF;
    z-index: 9999;
}

#loaderContent {
    /*width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;*/
    font-size: 30px;
    color: #72777a;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 48%;
    z-index: 999999;

}
/*.blur{
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.loader {
  position: absolute;
  top: 50%;
  left: 48%;
  z-index: 999999;
}

.line {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 1px;
  height: 25px;
}

.line:nth-child(1) {
  background: #27ae60;
}

.line:nth-child(2) {
  animation-delay: 180ms;
  background: #f1c40f;
}

.line:nth-child(3) {
  animation-delay: 360ms;
  background: #e67e22;
}

.line:nth-child(4) {
  animation-delay: 540ms;
  background: #2980b9;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
}*/

/*end preloader*/

/*btn go to top*/
.ir-arriba {
    display:none;
    /*padding:30px;*/
    background-repeat: no-repeat;
    font-size:20px;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
    z-index: 2;
}
/*btn go to top*/

/*Adress Bar*/
.address-bar-content-header > h1 {
  padding-top: 15px;
  margin: 2px;
}

.address-bar-content-header > .breadcrumb {
  margin-top: 8px;
  box-shadow: none;
  /*padding-right: 0;*/
  padding-left: 8px;
  margin-bottom: 25px;
  background-color: #F5F5F5;
  border-radius: 0;
}

.address-bar-content-header > .breadcrumb > li > a,
.address-bar-content-header > .breadcrumb > li {
  color: #333;
  text-decoration: none;
}

.address-bar-content-header > .breadcrumb > li > a:hover{
  color: #337ab7;
}

.address-bar-content-header > .breadcrumb > li > a > .fa,
.address-bar-content-header > .breadcrumb > li > a > .glyphicon {
  margin-right: 5px;
}

.address-bar-content-header > .breadcrumb > li + li:before {
  padding: 0 0.5rem;
  content: '\2044';
  font-size: 16px;
  color: #333;
}

.address-bar-content-header > .breadcrumb > li.current-date:before {
  padding: 0 0.5rem;
  content: '';
  font-size: 16px;
  color: #333;
}


/*END NAVEGACIÓN*/

/*BLUE NAVBAR*/
.navbar-custom {
  /*background-color:#337ab7;*/
    background-color: #FFFFFF;
  /*color:#ffffff;*/
    color: #000000;
  border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
  /*color:#fff;*/
    color: #000000;
}

.navbar-custom .navbar-nav > .active > a {
  color: #ffffff;
  background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus,
.navbar-custom .navbar-nav > .open > a {
  text-decoration: none;
  /*background-color: #23527c;
  color: #ffffff;*/
}

.navbar-custom .navbar-brand {
  /*color:#eeeeee;*/
    color: #000000;
}
.navbar-custom .navbar-toggle {
  background-color:#eeeeee;
}
.navbar-custom .icon-bar {
  background-color:#33aa33;
}

hr {
  border-top: 1px solid #607d8b;
}
/*END BLUE NAVBAR*/
