/*preloader*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    /*background-color: #DFE3E9;*/
    z-index: 9999;
}

#preloader .loader{
    position:fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 310px;
    margin: -210px 0 0 -200px;
    background-image: url("../../public/images/preloader_chart.gif");
    background-repeat: no-repeat;
    background-position: center;
}

#preloader .msg{
    position:fixed;
    top: 50%;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: #72777a;
}
/*end preloader*/

/*preloader x*/
#preloaderx {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    /*background-color: #DFE3E9;*/
    z-index: 9999;
    display: none;
}

#preloaderx .loaderx{
    position:fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 310px;
    margin: -210px 0 0 -200px;
    background-image: url("../../public/images/preloader_chart.gif");
    background-repeat: no-repeat;
    background-position: center;
}

#preloaderx .msgx{
    position:fixed;
    top: 50%;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: #72777a;
}

.parpadea {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
/*end preloader x*/

/*language preloader*/
#langPreloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /*background-color: #DFE3E9;*/
    z-index: 9999;
    /*display: none;*/
}


#langPreloader .lmsg{
    position:fixed;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.3);
    /*background: rgba(164, 28, 30, 0.3);*/
}

.blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}

/*end language preloader*/

/*btn go to top*/
a.ir-arriba {
    display:none;
    /*padding:30px;*/
    background-repeat: no-repeat;
    font-size:20px;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
    z-index: 4;
    color: #A41C1E;
}
/*btn go to top*/

/*Adress Bar*/
.address-bar-content-header > h1 {
  padding-top: 15px;
  margin: 2px;
}

.address-bar-content-header > .breadcrumb {
  margin-top: 8px;
  box-shadow: none;
  /*padding-right: 0;*/
  padding-left: 8px;
  margin-bottom: 25px;
  background-color: #F5F5F5;
  border-radius: 0;
}

.address-bar-content-header > .breadcrumb > li > a,
.address-bar-content-header > .breadcrumb > li {
  color: #333;
  text-decoration: none;
}

.address-bar-content-header > .breadcrumb > li > a:hover{
  color: #337ab7;
}

.address-bar-content-header > .breadcrumb > li > a > .fa,
.address-bar-content-header > .breadcrumb > li > a > .glyphicon {
  margin-right: 5px;
}

.address-bar-content-header > .breadcrumb > li + li::before {
  padding: 0 0.5rem;
  content: '\2044';
  font-size: 16px;
  color: #333;
}

.address-bar-content-header > .breadcrumb > li.current-date::before {
  padding: 0 0.5rem;
  content: '';
  font-size: 16px;
  color: #333;
}
/*END NAVEGACIÓN*/

/*BLUE NAVBAR*/
.navbar-custom {
  /*background-color:#337ab7;*/
    background-color: #FFFFFF;
  /*color:#ffffff;*/
    color: #000000;
  border-radius:0;
}

.navbar-custom .navbar-n > li > a {
  /*color:#fff;*/
    color: #000000;
}

.navbar-custom .navbar-n > .active > a {
  color: #ffffff;
  background-color:transparent;
}

.navbar-custom .navbar-n > li > a:hover,
.navbar-custom .navbar-n > li > a:focus,
.navbar-custom .navbar-n > .open > a:hover,
.navbar-custom .navbar-n > .open > a:focus,
.navbar-custom .navbar-n > .open > a {
  text-decoration: none;
  background-color: #eee;
  /* color: #ffffff; */
}

/* .navbar-custom .navbar-n > li > a > span{
  font-size: 10px;
} */

.navbar-custom .navbar-brand {
  /*color:#eeeeee;*/
    color: #000000;
}
.navbar-custom .navbar-toggle {
  background-color:#eeeeee;
}
.navbar-custom .icon-bar {
  background-color:#33aa33;
}

hr {
  border-top: 1px solid #607d8b;
}
/*END BLUE NAVBAR*/
